# ----------------------------------------
# 1. EXCLUSIONS GENERALES 
# ----------------------------------------

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build, cache, and editor files
dist
dist-ssr
*.local
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv/


# ------------------------------------------------------
# 2. EXCLUSIONS SPECIFIQUES AU PROJET REACT (frontend/)
# ------------------------------------------------------

# Dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Testing
frontend/coverage/

# Next.js specific
frontend/.next/
frontend/out/

# Production/Build (si le dossier de build est 'build')
frontend/build/

# Misc
frontend/.DS_Store
frontend/*.pem

# Debug files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Environment files
frontend/.env*

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts


# ------------------------------------------------
# 2. EXCLUSIONS SPECIFIQUES AU BACKEND (backend/)
# ------------------------------------------------

# Pycache files
backend/__pycache__/
backend/*.py[cod]

# Upload folder
backend/uploads/

# Environment files
backend/.env